In [1]:
import sksurv
import sksurv.datasets

In [2]:
X, y = sksurv.datasets.load_aids()

In [3]:
print(type(X), type(y))

<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>

In [4]:
X

       age    cd4 hemophil ivdrug karnof  priorzdv raceth sex strat2 tx txgrp
0     34.0  169.0        0      1    100      39.0      1   1      1  0     1
1     34.0  149.5        0      1     90      15.0      2   2      1  0     1
2     20.0   23.5        1      1    100       9.0      1   1      0  1     2
3     48.0   46.0        0      1     90      53.0      1   1      1  0     1
4     46.0   10.0        0      3     90      12.0      1   1      0  1     2
...    ...    ...      ...    ...    ...       ...    ...  ..    ... ..   ...
1146  44.0   65.5        0      1    100     103.0      1   1      1  1     2
1147  41.0    7.5        0      1     80      20.0      2   1      0  1     2
1148  43.0  170.0        0      3     90      27.0      2   1      1  0     1
1149  44.0  282.5        0      3     80      12.0      1   1      1  0     1
1150  44.0  120.0        0      1     90      26.0      1   1      1  1     2

[1151 rows x 11 columns]

In [5]:
y

array([(False, 189.), (False, 287.), (False, 242.), ..., (False, 272.),
       (False, 192.), (False, 132.)],
      dtype=[('censor', '?'), ('time', '<f8')])